/*
Theme Name: Alpins
Theme URI: http://themes.framework-y.com/alpins/
Author: Schiocco
Author URI: https://schiocco.com/
Description: Mountain - Hiking - Outdoor WordPress Theme
Version: 1.4.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: alpins
*/

/*
------------------------------------------------------------------
This style.css file is loaded only when Hybrid Composer plugin is not active.
Table of contents

1. Global styles 
2. Colors 
3. Navigation 
4. Other
5. Responsive

-------------------------------------------------------------------

==============================
GLOBAL STYLE
==============================
*/

@font-face {
    font-family: "Icons";
    src: url('inc/icons/icons.eot');
    src: url('inc/icons/icons.eot?#iefix-rdmvgc') format('embedded-opentype'), url('inc/icons/icons.woff') format('woff'), url('inc/icons/icons.ttf') format('truetype'), url('inc/icons/icons.svg?-rdmvgc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

main > section > .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*
==============================
COLORS
==============================
*/

body, header h2, .recentcomments a, .cnt-box-blog-side h2 a, .cnt-box-blog-top h2 a, h1, h2, h3, h4, h5, h6, .input-text, .input-select, .input-textarea, .icon-list span, .icon-list span a, .social-links a i, .glide__arrow, .search-bar input[type=submit], .menu-inner li > a, .accordion-list > li > a, .cnt-box-blog-side .icon-list a, .cnt-box-blog-top .icon-list a, .list-nav a, .media-box-down .caption h2, .media-box-down .caption p {
    color: #13304a;
}

div.cnt-box-info .cnt-info, footer, .cnt-box-testimonials-bubble > p, [class*=box-lightbox].light, .datepicker-panel > ul > li, .datepicker-panel > ul[data-view="week"] > li, .datepicker-panel > ul[data-view="week"] > li:hover, .datepicker-top-left, .datepicker-top-right, .datepicker-panel > ul > li.disabled, .datepicker-panel > ul > li.disabled:hover, .cnt-box-blog-side .blog-date span:last-child, .cnt-box-blog-top .blog-date span:last-child, .section-home-alpins + section:before, .scroll-menu .shop-menu-cnt .cart-count {
    background-color: #13304a;
}

.cnt-box-testimonials-bubble > p:after {
    border-right-color: #13304a;
}

.tab-nav li.active a, .tab-nav li:hover a {
    background-color: #13304a;
    border-color: #13304a;
}

.lan-menu .dropdown > ul > li > a, body > nav.scroll-menu:before, .post-page-numbers.current, .title > p:before, .title > p:after, .quote .quote-author:before, .cnt-box-info .extra-field, .glide__bullets > button:hover, .glide__bullets > button.glide__bullet--active, .controls-right .glide__bullet, .media-box-reveal .extra-field, .media-box .caption h3:before, .bg-color, body main > section.bg-color, nav .dropdown > ul > li > a, body > header h2:after, body > header h2:before, .controls-out.arrows-left .glide__arrow:hover, .menu-cnt > ul > li > ul li > a, .album-box .caption h3:after, .menu-inner li:before, .cnt-box-blog-side .blog-date, .cnt-box-blog-top .blog-date, .section-home-alpins .glide__arrow, .menu-inner:not(.menu-inner-vertical) .dropdown ul > li > a, .step-item:before, .step-item > span, .shop-menu-cnt .cart-count {
    background-color: #379cf4;
}

.section-home-alpins .glide__bullets .glide__bullet.glide__bullet--active {
    background-color: #379cf4 !important;
}

@media (max-width: 991.98px) {
    nav.scroll-menu .menu-cnt {
        background-color: #379cf4;
    }
}

.btn, .icon-links-grid a:hover, .icon-links-button a {
    background-color: #379cf4;
    border-color: #379cf4;
}

a, .counter .value span:last-child, .icon-box i, .cnt-box-info .cnt-info > div > span:last-child, .cnt-box-info .bottom-info, .btn-text, .menu-cnt > ul > li:hover > a, nav:not(.menu-transparent) .menu-cnt > ul > li:hover > a, .lan-menu > li:hover > a, nav:not(.menu-transparent) .lan-menu > li:hover > a, .timeline > div:hover .badge p, .cnt-box-team:hover .caption h2, .cnt-box-top-icon > i, .datepicker-panel > ul > li:hover, .extra-field:before, .menu-inner li.active > a, .menu-inner li:hover > a, .table-alpins td:first-child, .accordion-list > li > a:before, .cnt-box-blog-side .icon-list i, .cnt-box-blog-top .icon-list i, .list-nav a:before, .cnt-box .caption p b, .cnt-box-side-icon > i, .countdown h3, .countdown p, nav:not(.menu-transparent) .menu-mini .lan-menu > li:hover > a, nav .icon-list li > i {
    color: #379cf4;
}

.breadcrumb li a:hover, .menu-cnt > ul > li:hover > a, .light .breadcrumb li:not(:last-child) a:hover, .light .text-color, .text-color, .menu-inner .dropdown li:hover > a {
    color: #379cf4 !important;
}

form.form-box textarea:focus, form.form-box select:focus, form.form-box input:focus, [data-parallax] .table td, .media-box-half .caption .extra-field + p, .timeline > div .panel, div.timeline > div.inverted .panel:last-child, .search-box-menu > input[type=text]:focus {
    border-color: #379cf4;
}

.lan-menu .dropdown > ul > li:hover > a, .btn:not(.btn-border):hover, .dropdown ul:not(.icon-list) li:hover > a, .menu-cnt > ul > li:hover > a, .lan-menu > li:hover > a, .icon-links-button a:hover, .pagination li.page:hover a, .pagination li.page.active a, .section-home-alpins .glide__arrow:hover, .menu-inner:not(.menu-inner-vertical) .dropdown ul > li:hover > a {
    background-color: #3081c8;
}

.btn-text:hover, .accordion-list > li > a:hover, .list-nav a:hover {
    color: #3081c8;
}

@media (max-width: 991.98px) {
    nav.scroll-menu .dropdown > ul > li > a {
        background-color: #3081c8;
    }

    .menu-transparent:not(.scroll-menu) .menu-cnt > ul > li.dropdown.active > a {
        color: #3081c8 !important;
    }
}

.icon-box p, .cnt-call .caption p, .cnt-box-team .caption span, .cnt-box .caption p, .cnt-pricing-table > ul > li, .timeline .panel p {
    color: rgb(83, 98, 111);
}

/*
==============================
NAVIGATION
==============================
*/

body > nav {
    z-index: 995;
    position: relative;
    background-color: #FFF;
}

body > nav > .container {
    height: 100%;
    min-height: 125px;
}

.dropdown ul li a {
    background-color: #FFF;
}

.dropdown ul li:hover > a, nav:not(.menu-transparent) .menu-cnt > ul > li:hover > a {
    color: rgb(33, 81, 123);
}

body > nav .menu-brand {
    float: left;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 9999;
    position: relative;
}

body > nav .menu-brand > a {
    height: 100%;
}

body > nav .menu-brand img {
    max-height: 100%;
    display: block;
}

.menu-btn {
    display: none;
    width: 30px;
    height: 30px;
    font-style: normal;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    line-height: 30px;
}

.menu-btn:before {
    content: "\64";
    font-family: "Icons";
    position: absolute;
    left: 0;
    text-transform: none;
}

.menu-right {
    float: right;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.menu-cnt {
    position: relative;
}

.menu-cnt > ul, .menu-inner > ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 30px;
}

.menu-cnt > ul > li > a, .dropdown > ul > li > a, .dropdown-submenu > ul > li > a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 13px;
    display: block;
}

.dropdown-submenu > ul > li > a {
    height: auto;
    line-height: 25px;
    padding: 12.5px 15px;
    white-space: normal !important;
}

.menu-cnt ul > li > a {
    text-decoration: none;
    transition: all .5s, height 0s, line-height 0s;
}

.menu-cnt > ul > li a {
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
}

.menu-cnt li > a {
    position: relative;
}

.dropdown ul:not(.icon-list) {
    position: absolute;
    display: none;
}

.dropdown li {
    cursor: pointer;
}

.dropdown > a {
    position: relative;
}

.dropdown > ul, .dropdown-submenu > ul {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.17);
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    min-width: 200px;
}

.dropdown:hover > ul, .dropdown:hover .mega-menu, .dropdown-submenu:hover > ul {
    display: block;
    z-index: 2;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > a {
    position: relative;
    z-index: 3;
}

.dropdown-submenu > a:after, .menu-side .dropdown > a:after, .menu-side .mega-dropdown > a:after, .menu-inner .dropdown > a:after {
    font-family: "Icons";
    content: "\67";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 10px;
    transition: transform .5s;
    text-transform: none;
    opacity: .7;
}

.dropdown-submenu > a:after, .menu-side:not(.menu-side-collapse) li > a:after {
    transform: translateY(-50%) rotate(0deg);
    transition: none;
}

.dropdown.active > a:after, .mega-dropdown.active > a:after {
    transform: translateY(-50%) rotate(90deg) matrix(-1, 0, 0, 1, 0, 0);
}

.dropdown:hover > a:after, .menu-cnt li:hover > a:after {
    opacity: 1;
}

.dropdown-submenu ul {
    top: 0;
    left: 100%;
    z-index: 1;
}

.menu-cnt > ul > li.dropdown > a, .menu-cnt > ul > li.mega-dropdown > a {
    padding-right: 22px;
}

.menu-side .menu-cnt > ul > li.dropdown > a, .menu-side .menu-cnt > ul > li.mega-dropdown > a {
    padding-right: 15px;
}

.dropdown .divider {
    height: 1px;
    background: #eaeaea;
}

.menu-cnt > ul > li a {
    color: rgb(68, 68, 68);
}
/*
==============================
OTHER
==============================
*/
.header-base {
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.footer-bar {
    border-top-style: solid;
    border-top-width: 1px;
}

.footer-bar > .container {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: .5px;
}

.footer-bar > .container > span:last-child {
    float: right;
}

.default-wp-footer .footer-bar > .container {
    color: #313131 !important;
}

.cnt-box.boxed .caption {
    padding: 30px;
}

.cnt-box-blog-side {
    display: flex;
}

.cnt-box-blog-side > .img-box {
    width: 30%;
    background-size: cover;
    background-position: center center;
}

.cnt-box-blog-side > .caption {
    width: 70%;
    padding-left: 30px;
}

.cnt-box-blog-side .icon-list, .cnt-box-blog-top .icon-list {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
}

.icon-list span.icon-links {
    display: flex;
}

.cnt-box-blog-side .blog-date, .cnt-box-blog-top .blog-date {
    position: absolute;
    width: 80px;
    height: 80px;
    color: #FFF;
    z-index: 5;
    text-align: center;
}

.cnt-box-blog-side .blog-date span, .cnt-box-blog-top .blog-date span {
    display: block;
}

.cnt-box-blog-side .blog-date span:first-child, .cnt-box-blog-top .blog-date span:first-child {
    font-size: 25px;
    padding: 15px 0 5px 0;
}

.cnt-box-blog-side .blog-date span:last-child, .cnt-box-blog-top .blog-date span:last-child {
    font-size: 12px;
}

.cnt-box-blog-top .caption h2 {
    margin-top: 30px;
}

.cnt-box-blog-side h2 a, .cnt-box-blog-top h2 a {
    text-decoration: none;
}

.cnt-box-blog-side .icon-list i, .cnt-box-blog-top .icon-list i {
    font-size: 115%;
}

.cnt-box-blog-side.align-center .icon-list, .cnt-box-blog-top.align-center .icon-list {
    justify-content: center;
}

.cnt-box-blog-side.align-right .icon-list, .cnt-box-blog-top.align-right .icon-list {
    justify-content: flex-end;
}

.align-right .icon-list span.icon-links {
    margin-right: 0;
}

.cnt-box-blog-side.align-right {
    flex-direction: row-reverse;
}

.cnt-box-blog-side.align-right > .caption {
    padding-left: 0;
    padding-right: 30px;
}

.cnt-box-blog-side.align-right .blog-date, .cnt-box-blog-top.align-right .blog-date {
    right: 0;
}

.cnt-box-blog-side.align-right .icon-list > span, .cnt-box-blog-top.align-right .icon-list > span {
    margin-left: 25px;
    margin-right: 0;
}

.cnt-box-blog-side:hover, .cnt-box-blog-top:hover {
    transform: none !important;
}

.cnt-box-blog-side.no-img > .img-box {
    width: 0;
}

.cnt-box-blog-side.no-img .caption {
    width: 100%;
    padding-top: 130px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    text-transform: none;
}

.icon-user:before {
    content: "\6a";
}

.icon-bookmark:before {
    content: "\6c";
}

.icon-share:before {
    content: "\6d";
}

.icon-calendar:before {
    content: "\6e";
}

.icon-facebook:before {
    content: "\6b";
}

.icon-twitter:before {
    content: "\6f";
}

.icon-instagram:before {
    content: "\70";
}

.icon-google:before {
    content: "\71";
}

.icon-linkedin:before {
    content: "\72";
}

.icon-youtube:before {
    content: "\73";
}

.icon-list-horizontal {
    display: flex;
}

.icon-list-horizontal.icon-list li {
    margin-right: 25px;
    margin-bottom: 0;
    padding-left: 25px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.icon-list p {
    margin: 0;
    display: inline;
}

.icon-list li > i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-list-horizontal.icon-list a {
    text-decoration: none;
}

ul.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-post-info {
    clear: both;
}

ul.icon-list li {
    position: relative;
    list-style: none;
    padding-left: 30px;
    margin-bottom: 10px;
}

ul.icon-list li:last-child {
    margin-bottom: 0;
}

.btn {
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    position: relative;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: all .5s;
}

.btn-text {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}

.btn-sm {
    padding: 10px 30px;
    font-size: 15px;
}

.caption p + .btn-text {
    margin-top: 15px;
}

.menu-inner > ul {
    float: none;
    margin-left: 0;
}

.menu-inner:not(.menu-inner-vertical) > ul > li:not(:last-child) {
    margin-right: 20px;
}

body .menu-inner li > a {
    height: 50px;
    line-height: 50px;
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
}

.menu-inner li.dropdown > a {
    padding-right: 35px;
}

.menu-inner .dropdown ul > li > a {
    font-size: initial;
}

.menu-inner .dropdown ul > li:hover > a {
    background: none;
}

.menu-inner li {
    position: relative;
    transition: all .5s;
}

.menu-inner li:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    transition: all .5s;
    bottom: 0;
    left: 0;
}

.menu-inner li:hover:before, .menu-inner li.active:before {
    width: 100%;
}

.menu-inner li > a > i {
    margin-right: 15px;
}

.menu-inner-vertical > ul {
    display: block;
}

.menu-inner-vertical li.dropdown > ul {
    position: static;
    box-shadow: none;
}

.menu-inner-vertical .dropdown:hover > ul {
    display: none
}

.menu-inner-vertical .dropdown.active > ul {
    display: block
}

.menu-inner.ms-minimal li:hover a, .menu-inner.ms-minimal li.active > a {
    background: none;
}

.menu-inner > div:not(.textwidget):not(.tagcloud):not(.menu-testing-menu-container):not(.calendar_wrap) {
    display: none;
    position: relative;
    padding: 10px 0;
}

.menu-inner > div > i {
    right: 0;
}

.menu-inner.nav-right {
    justify-content: flex-end;
    display: flex;
}

.menu-inner.nav-center {
    justify-content: center;
    display: flex;
}

.menu-inner:not(.menu-inner-vertical) .dropdown > a:after {
    right: 0;
}

.menu-inner:not(.menu-inner-vertical) .dropdown ul {
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-top: -1px;
}

.menu-inner:not(.menu-inner-vertical) .dropdown li:last-child:before {
    bottom: -1px;
}

.menu-inner-image li img {
    position: absolute;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 3px;
    left: -65px;
}

.menu-inner-image li {
    padding-left: 65px;
    margin-bottom: 15px;
}

.menu-inner-image li a {
    line-height: 30px;
}

.menu-inner-image li a span {
    display: block;
    line-height: 15px;
    font-size: 12px;
}

hr.space, hr.space-xs, hr.space-sm, hr.space-md, hr.space-lg {
    border: none;
    clear: both;
    margin: 0;
}

hr.space-sm {
    height: 30px;
}

.input-text, .input-select, .input-textarea {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

.input-text-btn {
    display: flex;
}

.input-text-btn .input-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.input-text-btn .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.align-center {
    text-align: center;
}
/*
==============================
CUSTOM CSS ONLY FOR THIS THEME
==============================
*/
@media (min-width: 994px) {
    nav .dropdown > ul {
        margin-top: 0;
    }

    html body > nav .menu-cnt > ul > li > a, html body > nav .lan-menu > li > a, html body > nav .menu-right {
        height: 80px;
        line-height: 80px;
        padding-bottom: 0;
    }
}

body > header.header-base h1 {
    animation: none;
    transition: none;
}

nav .dropdown-submenu > ul {
    padding-left: 1px;
    max-width: 100%;
}

body, textarea {
    line-height: 35px;
}
/*
==============================
WP
==============================
*/
.widget .searchform > div {
    display: flex;
}

.searchform .screen-reader-text {
    display: none;
}

.searchform input[type="text"] {
    border: 1px solid rgb(220, 220, 220);
    margin-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

.searchform input[type="submit"] {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-top-right-radius: 3px;
    outline: none;
    cursor: pointer;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    border-bottom-right-radius: 3px;
}

#wp-calendar {
    table-layout: fixed;
    border-radius: 3px;
    background: #f3f3f3;
    padding: 5px;
    width: 100%;
    outline: none !important;
    border: 1px solid #dcdcdc;
}

#wp-calendar caption {
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    font-weight: 600;
}

#wp-calendar td, #wp-calendar th {
    text-align: center;
    padding-top: 10px;
    border: none;
}

#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
    font-weight: 600;
    padding-bottom: 10px;
}

#wp-calendar #next {
    text-align: right;
    padding-right: 12px;
    font-weight: 600;
    padding-bottom: 10px;
}

.widget .list-group {
    clear: both;
    margin-bottom: 15px;
}

.widget .tagcloud {
    margin: -5px;
}

.widget .tagcloud a {
    float: none;
    display: inline-block;
    margin: 4px;
}

.list-blog ul {
    padding: 0;
}

.list-blog ul li {
    list-style: none;
}

.list-blog ul ul.children {
    padding-left: 10px;
    position: relative;
    margin-bottom: 5px;
}

.list-blog ul ul.children:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 5px;
    background-color: #efefef;
}

.list-blog > ul > li.cat-item {
    border: none;
    padding: 3px 0;
}

.post-password-form {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 2px;
    border: 1px solid #dedede;
    text-align: center;
    margin-bottom: 30px;
}

.post-password-form input[type="submit"] {
    border: none;
    height: 28px;
    padding: 0 15px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    background: rgb(18, 48, 74);
    color: rgb(255, 255, 255);
}

.post-password-form input[type="password"] {
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    padding: 0 5px;
    height: 28px;
}

hr.space {
    border: none !important;
    clear: both;
    height: 70px;
    margin: 0;
}

.sidebar-nav {
    padding: 9px 0;
}

.list-blog .screen-reader-text {
    display: none;
}

.list-blog select {
    max-width: 100%;
}

.list-blog input, .list-blog select {
    background: #f7f7f7;
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 5px;
}

.list-blog input[type="submit"] {
    border-radius: 2px;
    border: 1px solid #cecece;
    background: #f7f7f7;
    padding: 5px;
}

.error404 .logo-404 {
    display: none;
}

.error404 .align-items-center {
    padding: 100px 0;
}

.error404 footer {
    border-top: 1px solid rgb(226, 226, 226);
}

.error404 footer .container {
    text-align: center;
}

.error404 h1 {
    font-size: 78px;
    line-height: 80px;
    margin-top: 0;
}

.featured-image img {
    margin-bottom: 70px;
    border-radius: 6px;
}

.featured-image + p + p > img:last-child {
    float: none;
}

.no-search-results {
    margin-top: 30px;
}

.container > #searchform {
    margin-bottom: 60px;
}

.grid-box {
    display: grid;
    grid-gap: 30px;
}

.grid-item {
    padding: 0;
    margin: 0;
    min-width: 0;
    position: relative;
}

.grid-item img, .maso-item img {
    display: block;
    max-width: 100%;
}

.list-pagination {
    padding-top: 30px;
}

.pagination {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 -15px 0 -15px;
    padding: 0;
}

.pagination li {
    list-style: none;
    box-shadow: 0 3px 23px rgba(39,79,117,.15);
    margin: 0 15px;
    border: 1px solid rgb(238, 242, 247);
    padding: 5px;
    border-radius: 3px;
}

.pagination li:hover a {
    opacity: .8;
}

.pagination li a {
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    transition: all .5s;
}

.pagination li.disabled a {
    opacity: .5;
    cursor: default;
}

.pagination li.page a {
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 5px;
}

.pagination li.page:hover a, .pagination li.page.active a {
    color: #FFF;
}

.pagination .last, .pagination .first {
    display: none;
}

.pagination .prev a {
    margin-right: 15px;
    padding-left: 45px;
}

.pagination .next a {
    margin-left: 15px;
    padding-right: 45px;
}

.pagination .prev a:before, .pagination .next a:before {
    font-family: "Icons";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: none;
}

.pagination .prev a:before {
    content: "\68";
    left: 15px;
}

.pagination .next a:before {
    content: "\67";
    right: 15px;
}

.pagination-lg {
    margin-top: 15px;
}

.pagination-lg li {
    font-size: 20px;
}

.pagination-lg li.page a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 10px;
}

.pagination.align-center {
    justify-content: center;
}

.pagination.align-right {
    justify-content: flex-end;
}

.widget > .menu-inner li > a {
    white-space: nowrap;
    overflow: hidden;
    display: inline;
}

.widget > .menu-inner .menu li > a, .widget > .menu-inner.widget_pages li > a {
    white-space: normal;
    line-height: 25px;
    overflow: hidden;
    display: inline-block;
    height: auto;
    padding: 12px 0;
}

.widget > .menu-inner.widget_pages li > a {
    display: block;
    position: static;
}

.widget_pages .children li > a:before {
    content: "";
    width: 10px;
    top: 50%;
    left: -20px;
    height: 1px;
    background-color: rgb(187, 187, 187);
    position: absolute;
}

.widget_pages li.page_item_has_children > a:before {
    display: none;
}

.widget .menu-inner.widget_pages li ul {
    padding-left: 20px;
}

.widget > .menu-inner li > a:empty {
    display: none;
}

.widget > .menu-inner li > a.rsswidget {
    white-space: normal;
    line-height: 25px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}

.widget > .menu-inner li > .rss-date {
    opacity: .8;
    display: block;
    margin-bottom: 10px;
}

.widget .menu-inner select {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    height: 35px;
}

.widget .menu-inner > div.calendar_wrap {
    display: block;
}

.widget .calendar_wrap a {
    text-decoration: none;
}

.widget .menu-inner li ul {
    padding-left: 15px;
    list-style: none;
}

.widget .screen-reader-text {
    display: none;
}

.recentcomments a {
    white-space: pre-wrap !important;
}

.widget .recentcomments {
    line-height: 18px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.widget li.recentcomments a {
    line-height: 30px;
    text-decoration: none;
    font-weight: 600;
}

.textwidget img, .textwidget select {
    max-width: 100%;
    height: auto;
}

.widget .menu-inner .menu {
    list-style: none;
    padding: 0;
}

.widget .menu-inner .menu li:before {
    display: none;
}

.widget .menu-inner .menu li:not(.menu-item-has-children) {
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: -1px;
}

.widget .menu-inner .menu .menu-item-has-children + .menu-item-has-children > a {
    margin-top: 15px;
    display: block;
}

.widget_recent_entries a {
    display: block !important;
    text-overflow: ellipsis;
}

.widget .menu-inner li:before {
    display: none;
}

.tagcloud a {
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.tagcloud a:hover {
    color: rgb(206, 206, 206);
}

.header-base + main > section:first-child {
    border-top: 1px solid rgb(220, 220, 220);
}

section > .container > p {
    margin: 15px 0 !important;
}

.container > h2 {
    margin-top: 30px;
}

.container > p > img, .container > div > img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container > p > img.alignleft, .container > p > strong > img.alignleft, .container > div.alignleft {
    float: left;
    margin: 15px 15px 15px 0;
}

.container > p > img.alignright, .container > p > strong > img.alignright, .container > div.alignright {
    float: right;
    margin: 15px 0 15px 15px;
}

.container > div.alignleft + p {
    margin-top: 15px !important;
}

img + .wp-caption-text {
    margin-top: -10px;
    opacity: .8;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table a {
    text-decoration: none;
}

table td, table th {
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    padding: 5px 10px;
}

table tr th:first-child, table tr td:first-child {
    border-left: 1px solid rgb(220, 220, 220);
}

table tr:last-child td, table tr:last-child th {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.alignleft {
    text-align: left;
    margin-left: 0;
}

.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    text-align: right;
    margin-right: 0;
}

.post-pagination {
    padding: 15px 0;
    clear: both;
    width: 100%;
}

.post-pagination a, .post-pagination span {
    margin: 30px 15px 0 15px;
    text-decoration: none;
    font-weight: 600;
}

.post-page-numbers {
    width: 38px;
    height: 38px;
    margin: 30px 9px 0 9px !important;
    line-height: 38px;
    box-shadow: 0 3px 23px rgba(39,79,117,.15);
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(243, 243, 243);
}

.post-page-numbers.current {
    color: #FFF;
}

.col-lg-9 img {
    max-width: 100%;
}

.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .bypostauthor {
    text-decoration: none;
}

.cnt-box.boxed.sticky-post {
    border: 1px solid rgb(55, 156, 244);
    border-radius: 3px;
}

.cnt-box.boxed.sticky-post, .cnt-box.boxed.sticky-post .caption {
    background-color: rgb(234, 245, 252);
}

.container > h1 {
    font-size: 27px;
}

.container h6 {
    font-size: 12px;
    line-height: 16px;
}

.comments-area .item h1 {
    font-size: 25px;
}

blockquote {
    position: relative;
    font-style: italic;
}

blockquote:before {
    content: "\201C";
    position: absolute;
    left: -50px;
    top: 17px;
    font-size: 80px;
    opacity: .1;
}
/*
==============================
COMMENTS
==============================
*/
.comment-list img.col-md-1 {
    max-height: 65px;
    max-width: 65px;
    border-radius: 3px;
    padding: 0;
}

.comment-list .reply a, .msg a, .comment-respond a {
    text-decoration: none;
}
.msg > img {
    display: block;
    margin: 10px 0;
}
.comment-list .name {
    font-weight: 600;
    margin-top: 0;
    white-space: nowrap;
}

.comment-list .name span {
    font-weight: 400;
    display: inline-block;
    margin-left: 15px;
    opacity: .7;
}

.comment-respond, .comment-respond + .item {
    margin-top: 80px;
}

textarea#comment, textarea#comment:focus {
    width: 100%;
    min-height: 100px;
    outline: none;
    border-radius: 3px;
    padding: 15px;
}

.section-comments {
    border-top: 1px solid rgb(224, 224, 224);
    margin-top: 40px;
    padding-top: 40px;
}

.section-comments > .container {
    padding: 0;
}

.comment-list .item {
    margin-bottom: 15px;
    padding: 0 30px;
    flex-wrap: nowrap;
}

.comment-list .item .col-md-11 {
    margin-top: 0 !important;
}

.comment-list .children .item {
    margin-top: 30px;
}
/*
==============================
CUSTOM
==============================
*/
html body > nav .menu-brand {
    height: 80px;
}

html body > nav:before {
    height: 80px;
}

html body > nav .menu-cnt > ul > li > a {
    line-height: 80px;
}

html body > header.header-base {
    padding-top: 50px;
}
/*
==============================
RESPONSIVE
==============================
*/
@media (max-width: 994px) {
    .navbar-toggle {
        padding: 5px;
        margin-top: 14px;
    }

    .navbar-toggle i {
        background: url(inc/menu-icon.png) no-repeat center center;
        background-size: cover;
        width: 20px;
        height: 20px;
        display: block;
    }

    .navbar-brand > img {
        margin-left: 10px;
    }

    .dropdown:not(.open) > .dropdown-menu {
        display: none;
    }

    .dropdown > .dropdown-menu .dropdown-menu {
        display: block !important;
    }

    .dropdown > .dropdown-menu .dropdown-menu li a {
        padding-left: 60px;
    }

    body > nav {
        height: 50px;
    }

    body > nav .menu-brand {
        max-width: calc(100% - 60px);
    }

    body > nav .menu-brand > a {
        display: flex;
        align-items: center;
    }

    body > nav > .container, body > .menu-mini > .container {
        max-width: 100%;
    }

    .menu-btn {
        display: block;
        z-index: 9999;
        margin-top: -7px;
    }

    .dropdown-submenu > a:after, .menu-side:not(.menu-side-collapse) li > a:after {
        transform: translateY(-50%) rotate(90deg);
    }

    .menu-cnt > ul > li > a, .dropdown > ul > li > a, .dropdown-submenu > ul > li > a {
        padding: 0 30px;
    }

    .menu-cnt {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        background: #FFF;
        left: 0;
        width: 100%;
        transition: height .5s;
        display: block;
    }

    nav.light .menu-cnt a {
        color: rgb(68, 68, 68) !important;
    }

    nav.align-right .menu-cnt {
        display: block;
    }

    nav.active .menu-cnt {
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.08);
        z-index: 9995;
        height: auto;
        margin-top: -15px;
    }

    body > nav.menu-fixed .menu-cnt {
        overflow-y: scroll;
    }

    .menu-cnt > ul, .menu-cnt > .menu-right {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }

    .menu-cnt > ul {
        margin: 0;
    }

    .menu-cnt > .menu-right {
        padding: 15px 0 0 0;
        margin: 0;
        height: auto;
    }

    .menu-right > * {
        margin: 30px;
    }

    .shop-menu-cnt:not(.active) .shop-menu, .dropdown:not(.active) > ul, .dropdown:hover > ul, .dropdown:hover .mega-menu, .mega-dropdown:hover .mega-menu {
        display: none;
    }

    .shop-menu-cnt.active .shop-menu, .dropdown.active > ul, .dropdown.active > ul, .dropdown.active .mega-menu, .dropdown-submenu > ul, .mega-dropdown.active .mega-menu {
        display: block;
    }

    .menu-right > .lan-menu {
        margin: 15px;
    }

    .lan-menu a {
        text-align: left;
    }

    .dropdown ul:not(.icon-list), .dropdown.icon-list > ul, .dropdown-submenu > ul, .mega-dropdown .mega-menu, .dropdown .mega-menu {
        position: static;
        box-shadow: none;
    }

    /* CUSTOM CSS FOR THIS THEME */

    html body > nav .menu-cnt > ul > li > a {
        line-height: 50px;
    }

    .dropdown.active ul {
        display: block;
    }


    .dropdown > ul {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }
}

@media (max-width: 1200px) and (min-width: 994px) {
    html body > nav .menu-cnt > ul > li > a {
        line-height: 80px;
        padding: 0 5px;
        letter-spacing: -0.4px;
    }
}

@media (max-width: 768px) {
    .comment-list img.col-md-1 {
        max-height: 29px;
        max-width: 30px;
    }

    .comment-list .item .col-md-11 {
        padding-left: 15px;
    }

    .comment-list .children {
        padding-left: 0;
    }

    .comment-list .item table, .comment-list .item table * {
        display: block;
        border-left: none;
        border-right: none;
    }

    .comment-list .item table {
        border: 1px solid rgb(220, 220, 220);
    }

    .comment-list .item th:empty {
        display: none;
    }
}
